<!-- wp:template-part {"slug":"header","tagName":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">

<!-- wp:pattern {"slug":"twentytwentyfive/post-list-three-grid"} /-->
<!-- wp:pattern {"slug":"twentytwentyfive/post-list-two-columns"} /-->
<!-- wp:pattern {"slug":"twentytwentyfive/post-list-six-grid"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->